<section id="locations">
  <h2>So far, we have <a href="/events">{{site.data.events | size}} World Retrospective Day 2018 events</a>!</h2>

  <div id="map">
    <div id="popup"></div>
  </div>

  <div class="map-aside" style="align-content: center">
    World Retrospective Day is a volunteer-based, globally coordinated effort to share in the power of retrospectives.
    There are <strong><a href="/events">{{site.data.events | size}} World Retrospective Day events</a></strong> registered for WRD 2018 so far.
    <br>
    <h1>
    <u>World Retrospective Day starts in:</u>
    {% include countdown.liquid date='2019-02-27T00:00:00Z' size='large' name ='wrd2019' %}
    </h1>
  </div>
</section>

<script>
  $(function() {
    $.get('/events/wrd2019.json', function(eventsJson) {
      var wrd2019Events = mapEventsDataToMapFormat(eventsJson);
      addEventsToMap(wrd2019Events);
    });
  });
</script>
