<div class="format-background">
  <section class="format">
    <h2>It's Really Quite Simple...</h2>
      <div class="step">
        <span class="description">
          Start with an idea of something others should know about retrospectives
        </span>
      </div>
      <div class="step">
        <span class="description">
          Create a local event and decide what you'll be doing at the event
        </span>
      </div>
      <div class="step">
        <span class="description">
          Publish the details of your event in this website by sending details to us
        </span>
      </div>
      <div class="step">
        <span class="description">
          Get people to register and share the excitement on social media
        </span>
      </div>
   </section>
</div>


