<div id="hero">
  <div class="header">
    <h1><img src="/images/LogoSquare.png" height=40 alt="World Retrospective Day logo" style="border-radius: 50px;">World Retrospective Day</h1>
    <h2>February 27, 2019</h2>
    <p>Follow the Sun as we Retrospect Around the World</p>
    <!-- <p class="calltoaction">
       <a class="button" href="https://worldretroday.us19.list-manage.com/subscribe?u=1f0067c7b322b9187d78f3e2d&id=3b39ee2d1a" target="_black">Register Your Event!</a>
    </p> -->
  </div>
</div>
