<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="World Retrospective Day is a volunteer-based, globally coordinated effort to share in the power of retrospectives.">

    <title>World Retrospective Day</title>
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/training.css" type="text/css" media="screen">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/openlayers3.js"></script>
    <script src="/js/ol3-geocoder/ol3-geocoder.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>

    <!-- <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script> -->
    <link href='http://fonts.googleapis.com/css?family=Amaranth:700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/ol3-geocoder/build/ol3-geocoder.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109830373-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109830373-1');
      </script>
    
  </head>

  <body class="global_day">
    {% include navigation.html %}
    <div class="container">
          {{ content }}
    </div>

    <div id="footer">
      <div class="container-wide">
      </div>
    </div>

</body>
</html>
